<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Receipt</title>

<!-- CSS -->
<link rel="stylesheet" href="style.css">

</head>

<body>

<div class="receipt-container">

    <h2>Payment Successful ✅</h2>
    <h3>Payment Receipt</h3>

    <table>
        <tr>
            <td>Vehicle Number</td>
            <td id="vehicle"></td>
        </tr>

        <tr>
            <td>Owner Name</td>
            <td id="name"></td>
        </tr>

        <tr>
            <td>Violation</td>
            <td id="violation"></td>
        </tr>

        <tr>
            <td>Amount</td>
            <td>₹<span id="amount"></span></td>
        </tr>

        <tr>
            <td>Date</td>
            <td id="date"></td>
        </tr>
    </table>

    <p class="status">Status: Paid</p>

    <button onclick="window.print()">Print Receipt</button>

</div>

<!-- JS -->
<script>
let data = JSON.parse(localStorage.getItem("receiptData"));

if(data){
    document.getElementById("vehicle").innerText = data.vehicle;
    document.getElementById("name").innerText = data.username;
    document.getElementById("violation").innerText = data.violation;
    document.getElementById("amount").innerText = data.amount;
    document.getElementById("date").innerText = new Date().toLocaleDateString();
} else {
    alert("No receipt data found ❌");
}
</script>

</body>
</html>